{% extends 'layouts/base.html' %}
{% load static %}


{% block title %}
    Hello
{% endblock %}
    

{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<style>
    


    
    
    .chat .chat-header {
        padding: 15px 20px;
        border-bottom: 2px solid #f4f7f6
    }
    
    .chat .chat-header img {
        float: left;
        border-radius: 40px;
        width: 40px
    }
    
    .chat .chat-header .chat-about {
        float: left;
        padding-left: 10px
    }
    
    .chat .chat-history {
        padding: 20px;
        border-bottom: 2px solid #fff
    }
    
    .chat .chat-history ul {
        padding: 0
    }
    
    .chat .chat-history ul li {
        list-style: none;
        margin-bottom: 30px
    }
    
    .chat .chat-history ul li:last-child {
        margin-bottom: 0px
    }
    
    .chat .chat-history .message-data {
        margin-bottom: 15px
    }
    
    .chat .chat-history .message-data img {
        border-radius: 40px;
        width: 40px
    }
    
    .chat .chat-history .message-data-time {
        color: #434651;
        padding-left: 6px
    }
    
    .chat .chat-history .message {
        color: #444;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        display: inline-block;
        position: relative
    }
    
    .chat .chat-history .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px
    }
    
    .chat .chat-history .my-message {
        background: #efefef
    }
    
    .chat .chat-history .my-message:after {
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #efefef;
        border-width: 10px;
        margin-left: -10px
    }
    
    .chat .chat-history .other-message {
        background: #e8f1f3;
        text-align: right
    }
    
    .chat .chat-history .other-message:after {
        border-bottom-color: #e8f1f3;
        left: 93%
    }
    
    .chat .chat-message {
        padding: 20px
    }
    
    .online,
    .offline,
    .me {
        margin-right: 2px;
        font-size: 8px;
        vertical-align: middle
    }
    
    .online {
        color: #86c541
    }
    
    .offline {
        color: #e47297
    }
    
    .me {
        color: #1d8ecd
    }
    
    .float-right {
        float: right
    }
    
    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0
    }
    
    @media only screen and (max-width: 767px) {
        .chat-app .people-list {
            height: 465px;
            width: 100%;
            overflow-x: auto;
            background: #fff;
            left: -400px;
            display: none
        }
        .chat-app .people-list.open {
            left: 0
        }
        .chat-app .chat {
            margin: 0
        }
        .chat-app .chat .chat-header {
            border-radius: 0.55rem 0.55rem 0 0
        }
        .chat-app .chat-history {
            height: 300px;
            overflow-x: auto
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .chat-app .chat-list {
            height: 650px;
            overflow-x: auto
        }
        .chat-app .chat-history {
            height: 600px;
            overflow-x: auto
        }
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        .chat-app .chat-list {
            height: 480px;
            overflow-x: auto
        }
        .chat-app .chat-history {
            height: calc(100vh - 350px);
            overflow-x: auto
        }
    }

    .scrollable-list {
        max-height: 500px; /* Adjust the height as needed */
        overflow-y: auto;
        border: 1px solid #ddd; /* Optional: Add a border for clarity */
    
        /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    
        /* Hide scrollbar for other browsers */
        &::-webkit-scrollbar {
            width: 0.2em;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }
    

    .timestamp {
        display: block;
        float: right;
        clear: both; /* Ensure it clears any floating elements */
        margin-top: 5px; /* Adjust this value as needed for spacing */
    }
</style>

    
{% endblock %}
    



{% block content %}



<div class="container mt-5 p-2 shadow">
    <div class="row">
        <div class="col-lg-9">
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">{{chat_room.name }}</h6>
                                <small>Last seen: 2 hours ago</small>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0 scrollable-list">
                        {% for message in chat_messages %}
                        <li class="clearfix">
                            {% if message.user == request.user %}
                            <div class="message other-message float-right">
                                <div class="message-text" style="font-size:16px;">
                                    {{ message.message}}
                                </div>
                                <div class="timestamp" style="font-size:10px;" >
                                    {{ message.timestamp|time }}
                                </div>
                            </div>
                            {% else %}
                            <div class="message other-message float-left">
                                
                                <div class="message-text" style="font-size:16px;">
                                    {{ message.message}}
                                </div>
                                <div class="timestamp" style="font-size:10px;" >
                                    {{ message.timestamp|time }}
                                </div>
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <input type="text" id="sending-message" class="form-control" placeholder="Enter text here...">                                    
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-outline-primary m-2"><span class="send-message"><i class="fa fa-send"></i></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    const currentLocation = window.location;
    let socket;

    function socketConnection(){
        socket = new WebSocket(`ws://${currentLocation.host}/ws/chat/{{chat_room.id}}/`);

        socket.onopen = function(e){
            console.log('Chat socket connected');
        }

        

        socket.onmessage = function(e){
            const data = JSON.parse(e.data);
            const message = data['message'];
            const user = data['user'];
            const room_id = data['room_id'];
            const current_user = {{request.user.id}};
            const messageList = $('.chat-history ul');
            var messageData;
            if (current_user == user){
                messageData = `
                <li class="clearfix">
                    <div class="message other-message float-right">
                        <div class="message-text" style="font-size: 16px;">
                            ${message}
                        </div>
                        <div class="timestamp" style="font-size: 10px;">
                            ${new Date().toLocaleTimeString()}
                        </div>
                    </div>
                </li>
            `;
            }else{
                messageData = `
                <li class="clearfix">
                    <div class="message other-message float-left">
                        <div class="message-text" style="font-size: 16px;">
                            ${message}
                        </div>
                        <div class="timestamp" style="font-size: 10px;">
                            ${new Date().toLocaleTimeString()}
                        </div>
                    </div>
                </li>
            `;
            }
            

            messageList.append(messageData);
            messageList.scrollTop(messageList.prop('scrollHeight'));

            
        }


        

        socket.onclose = function(e){
            setTimeout(function () {
                socketConnection(); // Reconnect
            }, 3000);
        }

        $('#sending-message').keydown(function(e){
            if (e.which === 13 && !e.shiftKey) {
                e.preventDefault(); // Prevents a newline in the input field
                sendMessage();
            }
        });

        function sendMessage() {
            const message = $('#sending-message').val();
            if (message.length === 0) {
                return;
            }
            socket.send(JSON.stringify({
                'message': message,
                'user' : {{request.user.id}},
                'room_id' : {{chat_room.id}}
            }));
            // Clear the input field after sending the message
            $('#sending-message').val('');
        }

        $('.send-message').on('click', function () {
            sendMessage();
        });


    }

    socketConnection();
    

</script>

<script>
    $(document).ready(function(){
        const messageList = $('.chat-history ul');
        messageList.scrollTop(messageList.prop('scrollHeight'));
        var room_id = {{ chat_room.id }};
        var offset = 10;
        chatHistory = $('.chat-history ul');

        function loadMoreMessages() {
            $.ajax({
                url: '{% url "chat:load-more-messages" %}',
                data: {'room_id': room_id, 'offset': offset},
                dataType: 'json',
                success: function (data) {
                    const parsedMessages = JSON.parse(data.messages);

                    // Loop through the new messages and append them to the chat container
                    for (let i = 0; i < parsedMessages.length; i++) {
                        let message = parsedMessages[i].fields;
                        
                        let messageHtml = `
                            <li class="clearfix">
                                ${message.user == {{ request.user.id }} ?
                                    `<div class="message other-message float-right">
                                        <div class="message-text" style="font-size:16px;">
                                            ${message.message}
                                        </div>
                                        <div class="timestamp" style="font-size:10px;">
                                            ${formatTimestamp(message.timestamp)}
                                        </div>
                                    </div>` :
                                    `<div class="message other-message float-left">
                                        
                                        <div class="message-text" style="font-size:16px;">
                                            ${message.message}
                                        </div>
                                        <div class="timestamp" style="font-size:10px;">
                                            ${formatTimestamp(message.timestamp)}
                                        </div>
                                    </div>`
                                }
                            </li>
                        `;

                        chatHistory.prepend(messageHtml);
                            
                    }

                    offset += 10;  // Increase the offset for the next request
                }
            });
        }
        function formatTimestamp(timestamp) {
            const timeOptions = { hour: 'numeric', minute: 'numeric' };
            return new Date(timestamp).toLocaleTimeString(undefined, timeOptions);
        }

        $('.scrollable-list').scroll(function(){
            if ($(this).scrollTop() === 0){
                loadMoreMessages();
            }
        });
    });
</script>




    
{% endblock  %}
    