{% extends "layouts/base.html" %} 
{% load static %}


{% block title %}Assignments{% endblock %}

{% block subtitle %}Assignments List{% endblock %}

{% block head %}
<style>
	.table>:not(caption)>*>* {
		padding: 0.5rem 0.5rem;
		background-color: var(--bs-table-bg);
		border-bottom-width: 0px;
		box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
	}
</style>

{% endblock %} 



{% block content %}
<div class="p-3">
	<a href="{% url 'classes:nepaliclass_detail' request.GET.uid %}" class="btn btn-secondary">
	  <i class="fas fa-arrow-left"></i>  Class
	</a>
  </div>
	<div class="container-xxl py-3 ">
		<div class="container py-3 custom-box">
			<div class="row mb-2">
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4" style="text-align: right;">
					<a href="{% url 'classes:assignment_add' %}" class="btn btn-primary"><i class="material-icons">Add Assignment</i></a>
				</div>
				<div class="col-md-4" style="text-align: center;">
					<div class="search--document">
						<form id="searchform" action="{% url 'classes:assignment_list' %}" method="get" accept-charset="utf-8" style="display: inline;">
							<div class="search-form search-form--light">
								<div class="container" style="display: flex; align-items: center;">
									<input type="text" class="form-control" placeholder="Search..." id="searchSample03" name="q" style="margin-right: 10px;" value="{{query}}">
									<input type="text" hidden value="{{request.GET.uid}}" name="uid">
									<button class="btn btn-primary" type="submit" role="button"><i class="material-icons">search</i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-sm-12 document-table-space py-2">
					<table class="table w-full no-footer" role="grid" >
						<thead class="table-space-top-bottom">
							<tr role="row">
								<th>S.N.</th>
                                <th>Name</th>
                                <th>Attachment</th>
                                <th>Submission Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
                            {% for object in object_list %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td><a href="{% url 'classes:assignment_detail' object.id %}">{{ object.topic }}</a></td>
                              <td>
                                {% if object.file %}
                                  <a href="{{ object.file.url }}" class="btn btn-secondary" download><i class="bi bi-download"></i> Download File</a>
                                {% else %}
                                {% endif %}
                              </td>
                              <td>{{ object.deadline }} </td>
                              
                            </tr>
                            {% endfor %}     
						</tbody>
					</table>
				</div>
				{% include 'layouts/pagination.html' %}
			</div>
		</div>

	</div>

	

	



{% endblock %}
