{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Assignment Add{% endblock %}

{% block head %}

<style>
    .dropdown-item {
        text-decoration: none !important;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 37px;
        user-select: none;
        -webkit-user-select: none;
    }

</style>

{% endblock %}

{% block content %}
<div class="p-3">
	<a href="#" class="btn btn-secondary" onclick="goBack()">
	  <i class="fas fa-arrow-left"></i>  Back
	</a>
  </div>
<div class="container ">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-sm-6 py-5 custom-box m-2">
            <div class="col-lg-6 mx-auto">
                <form class="" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {{form.as_p}}
                    <input type="hidden" name="uid" value="{{ request.GET.uid }}">
                    <div id="student-error-message" style="color: red;"></div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button id="submit-button" type="submit" class="btn btn-primary btn-lg">Add Assignment</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

    
    <script type="text/javascript">
        $("select").select2({
              width: '100%',
              
          });
        
        
        </script>
        
    

        <script>
            function goBack() {
              window.history.back();
            }
          </script>

{% endblock %}