{% extends 'layouts/base.html' %}
  {% load static %}
  {% block title %}Login{% endblock %}
  {% block head %}
  {% endblock %}



  
  {% block content %}

  <div class="justify-content-center h-100 d-flex align-items-center mt-5" style="height: 100%;">
    <form method="post" action="{% url 'main:login' %}">
      {% csrf_token %}
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" name="email" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" name="password" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
    
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Remember me </label>
          </div>
        </div>
    
        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      <!-- Submit button -->
      <div style="text-align:center;">
        <button type="submit" class="btn btn-primary btn-block mb-4" >Sign in</button>
      </div>
      
    
      <!-- Register buttons -->
      
    </form>
  </div>


  





<!-- JavaScript to open the modal and handle button click -->

    
    
  <script src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript" >

  </script>

  {% endblock %}