{% extends 'layouts/dashboard_index.html' %}
{% load static %}



{% block head %}
{% endblock %}
    

{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <form action="" method="GET" class="form">
                            <div class="row">
                                <div class="col-sm">
                                    <label for="id_teacher">Teacher:</label>
                                    <div>
                                        <select name="teacher" id="id_teacher">
                                            <option value="">----</option>
                                            {% for teacher in teachers %}
                                            <option value="{{ teacher.id }}" {% if request.GET.teacher|stringformat:"s" == teacher.id|stringformat:"s" %} selected {% endif %}>{{ teacher.user.full_name }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>
                                <div class="col-sm">
                                    <label for="id_class_type">Class Type:</label>
                                    <div>
                                        <select name="class_type" id="id_class_type">
                                            <option value="">---</option>
                                            <option value="One-One Class"{% if request.GET.class_type == "One-One Class" %} selected {% endif %}>One to One</option>
                                            <option value="Group Class" {% if request.GET.class_type == "Group Class" %} selected {% endif %}>Group</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-sm" >
                                    <label for="id_student">Student:</label>
                                    <div>
                                        <select name="student" id="id_student" >
                                            <option value="">----</option>
                                            {% for student in students %}
                                            <option value="{{ student.id }}" {% if request.GET.student|stringformat:"s" == student.id|stringformat:"s" %} selected {% endif %}>{{ student.user.full_name }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>
                                <div class="col-sm">
                                    <label for="id_time">Time:</label>
                                    <div>
                                        <input type="time" name="time" id="id_time" class="" {% if request.GET.time %} value="{{ request.GET.time }}" {% endif %}>

                                    </div>
                                </div>
                                <div class="col-sm">
                                    <label></label> <!-- Placeholder for the label alignment -->
                                    <button class="btn btn-primary mt-4" type="submit">Filter</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        {% for object in object_list %}
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{% url 'classes:nepaliclass_detail' object.id %}">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary-800 text-uppercase mb-1">
                                                    {{ object.name }}: {{object.teacher.user.full_name }}</div>
                                                <div class="h5 mb-0 font-weight-small text-gray-800">Time:  {{ object.time }}</div>
                                                <div class="h5 mb-0 font-weight-small text-gray-800">Class: {{ object.class_type }}</div>
                                                <div class="h5 mb-0 font-weight-small text-gray-800">Students:  {% for student in object.students.all %}{{ student.user.full_name }},{% endfor %}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                        </div>
                        {% endfor %}

                        

                        
                        
                        
                    </div>
                    {% include 'layouts/pagination.html' %}
                    <!-- Content Row -->

                    

                    <!-- Content Row -->
                    

                </div>
                <!-- /.container-fluid -->


                
            <!-- End of Main Content -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

            <script>
                $("select").select2({
                    
                });
            </script>

{% endblock %}
