{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load is_staff_or_teacher %}
{% block title %}Class - {{ np_class.name }}{% endblock %}

{% block head %}


<style>
    tbody#table1, td, tfoot, th, thead, tr {
        border-color: inherit;
        border-style: none;
        border-width: 0;
    }


    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0,0,0,.125); 
        border-radius: 0.25rem;
    }


    img, svg {
        vertical-align: middle;
        max-height: 76px;
        max-width: 70px;
    }

    .student-name{
        font-size: 16px;
        font-weight: 500;
    
    }
    a{
        text-decoration: none;
    
    }

    /* Customize modal header */
      .modal-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #dee2e6;
        color: #343a40;
      }

      /* Customize modal body */
      .modal-body {
        padding: 20px;
      }

      /* Customize select dropdown */
      .modal-body select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 4px;
      }

      /* Customize modal footer */
      .modal-footer {
        background-color: #f8f9fa;
        border-top: 1px solid #dee2e6;
      }

      /* Customize modal close button */
      .close {
        color: #343a40;
        opacity: 1;
      }

      /* Customize modal close button hover */
      .close:hover {
        color: #000;
      }


      .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 37px;
        user-select: none;
        -webkit-user-select: none;
    }

</style>
{% endblock %}

{% block content %}
<div class="p-3">
  <a href="{% url 'classes:nepaliclass_list' %}" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i>  All Classes
  </a>
</div class="wow fadeInUp" data-wow-delay="0.1s">
    <div class="container-xxl py-3 wow fadeInUp" data-wow-delay="0.1s" >
        
        <div class="container py-3 custom-box border" >
            <div>
                <div class="row mt-2">
                    <div class="col-md-10" style="text-align: center;">
                        <h1>{{ np_class.name }}</h1>
                    </div>
                    {% if request.user|is_staff_or_teacher %}
                    <div class="col-md-2 mt-2 p-2">
                        <div class="dropdown">
                          <a href="#" class="btn btn-primary dropdown-toggle me-3" role="button" id="updateDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="updateDropdown">
                            <li><a class="dropdown-item" href="#" id="addStudentLink" data-toggle="modal" data-target="#addStudentModal">Add Student</a></li>
                            <li><a class="dropdown-item" href="{% url 'classes:nepaliclass_update' np_class.id %}?uid=detail">Update</a></li>
                            <li><a class="dropdown-item " href="#" data-toggle="modal" data-target="#confirmationModal" id="btn-danger">Delete</a></li>
                          </ul>
                        </div>
                      </div>
                    {% endif %}
                    
                </div>
            </div>
            
            <div class="row border-top">
                <div class="col-md-6">
                    <div class="card">
                        <div class="table" >
                            <table class="table" >
                                <thead></thead>
                                <tbody id="table1">
                                    <tr>
                                        <th>Day</th>
                                        <td>{{ np_class.day }}</td>
                                    </tr>
                                    <tr>
                                        <th>Time</th>
                                        <td>{{ np_class.time }}</td>
                                    </tr>
                                    <tr>
                                        <th>Class Type</th>
                                        <td>{{ np_class.class_type }}</td>
                                    </tr>
                                    <tr>
                                        <th>Teacher</th>
                                        <td>{{ np_class.teacher }}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="row">
                          {% for student in np_class.students.all %}
                          <div class="col-sm-4 mb-2">
                              <a href="#" style="color:black;" onclick="toggleModal('{{ student.id }}')">
                                  <div class="card mb-2">
                                      <img class="card-img-top rounded-circle mb-2 mt-1" src="{{ student.user.imageURL }}" alt="Card image cap">
                                      <span class="student-name">{{ student.user.full_name }}</span>
                                  </div>
                              </a>
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-xxl py-5 card wow fadeInUp" data-wow-delay="0.1s" >
      <div style="text-align: center;">
        <a href="{% url 'classes:assignment_list' %}?uid={{ np_class.id }}" style="font-size: 40px;">Assignments</a>
      </div>
      <div class="container custom-box  border ">
        
        
        <div class="row mb-2">
          <div class="col-md-6">
            
          </div>
          {% if request.user|is_staff_or_teacher %}
          <div class="col-md-5 py-2" style="text-align: right;">
            <a href="{% url 'classes:assignment_add' %}?uid={{ np_class.id }}" class="btn btn-primary"><i class="material-icons">Add Assignment</i></a>
          </div>
          {% endif %}
        </div>
        <div class="row">
          
          <div class="col-lg-12 document-table-space" style="text-align: center;">
            <table class="table w-full no-footer " role="grid" >
              <thead class="table-space-top-bottom">
                <tr role="row">
                  <th>S.N.</th>
                  <th>Topic</th>
                  <th>Attachment</th> 
                  <th>Submission Date</th>
                  {% if request.user|is_staff_or_teacher %}
                  <th>Actions</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                   {% for object in object_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'classes:assignment_detail' object.id %}">{{ object.topic }}</a></td>
                  <td>
                    {% if object.file %}
                      <a href="{{ object.file.url }}" class="btn btn-secondary" download><i class="bi bi-download"></i> Download File</a>
                    {% else %}
                    {% endif %}
                  </td>
                  <td>{{ object.deadline }} </td>
                  {% if request.user|is_staff_or_teacher %}
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                      </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{% url 'classes:assignment_detail' object.id %}" class="btn-sm dropdown-item btn btn-success-space">
                          <i class="fas fa-info"></i>&nbsp; Detail
                        </a> 
                                                                           
                        <a href="{% url 'classes:assignment_update' object.id %}" class="btn-sm dropdown-item btn btn-success-space">
                          <i class="fa fa-pencil-alt"></i> Modify
                        </a>
                  
  
                    </div>
                      </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}   
              </tbody>
            </table>
          </div>
          
          {% include 'layouts/pagination.html' %}
        </div>
      </div>
  
    </div>

    <div class="modal" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <a href="{% url 'classes:nepaliclass_delete' np_class.id %}" class="btn btn-danger">Yes, delete</a>
            </div>
          </div>
        </div>
      </div>


      {% for student in np_class.students.all %}
        <div class="modal fade" id="updateModal{{ student.id }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel{{ student.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="updateModalLabel{{ student.id }}">{{ student.user.full_name }}</h5>
                        <button type="button" onclick="closeModal('{{student.id}}')" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="selectOption">Select Option:</label>
                            <select class="form-control" id="selectOption">
                                <option value="Paused">Pause</option>
                                <option value="Dropped">Drop</option>
                                <option value="SendEmail">Send Class Email</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" onclick="closeModal('{{student.id}}')"  id="cancel" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" onclick="saveChanges('{{ student.id }}')">Ok</button>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Add Student Modal -->
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addStudentForm">
          {% csrf_token %}
          <input name="class_id" value="{{ np_class.id }}" hidden>
          <div class="form-group">
            <label for="selectStudent">Select Student</label>
            <select class="form-control" id="selectStudent" name="student">
              <!-- Options will be dynamically added using JavaScript -->
              {% for student in students %}
              <option value="{{ student.id }}">{{ student.user.full_name }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Add Student</button>
        </form>
      </div>
    </div>
  </div>
</div>





    
      <script>
        

        $(document).ready(function () {

         
          // Add a click event handler to the delete button
          $("#btn-danger").on("click", function (event) {
            event.preventDefault(); // Prevent the link from navigating
      
            // Show the confirmation modal
            $("#confirmationModal").modal("show");
          });
          $(".close").on("click", function () {
            $("#confirmationModal").modal("hide");
          });
          // Add a click event handler to the "Cancel" button in the modal to close it
          $(".btn-secondary").on("click", function () {
            $("#confirmationModal").modal("hide");
          });
      
          // Add a click event handler to the "Yes, delete" button in the modal
          $(".modal-footer .btn-danger").on("click", function () {
            // Redirect to the delete URL
            window.location.href = $(this).attr("href");
          });
        });
      </script>

      <script>
        function toggleModal(studentId) {
            var modalId = 'updateModal' + studentId;
            $('#' + modalId).modal('toggle');
        }
    </script>

    <script>
      function closeModal(studentId) {
          var modalId = 'updateModal' + studentId;
          $('#' + modalId).modal('hide');
      }
      function saveChanges(studentId) {
          var selectedOption = $('#selectOption').val();
          var class_id = '{{ np_class.id }}';
          if (selectedOption === 'SendEmail') {
              var url ="{% url 'classes:send_class_email' %}?student_id=" + studentId + "&class_id={{ np_class.id }}";
              $.ajax({
                  url: url,
                  type: 'GET',
                  success: function (data) {
                      // Hide the modal
                      var modalId = 'updateModal' + studentId;
                      $('#' + modalId).modal('hide');
                  }
              });
              return;
          }else{
            console.log(selectedOption);
            var url = '{% url "classes:student_class_change" %}?student_id=' + studentId + '&status=' + selectedOption + '&class_id=' + class_id;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    // Hide the modal
                    var modalId = 'updateModal' + studentId;
                    $('#' + modalId).modal('hide');
                    location.reload();
                }
            });

          }
          // Construct the URL with parameters and option value
          // Navigate to the constructed URL

      }
  </script>

  
  <script>

  $(document).ready(function() {
    // Target the link and open the modal on click
    $('#addStudentLink').click(function(event) {
        event.preventDefault(); // Prevent the default action of the link
        $('#addStudentModal').modal('show'); // Open the modal
    });
});
  $('#addStudentForm').submit(function(event) {
    event.preventDefault(); // Prevent default form submission
    var formData = $(this).serialize(); // Serialize form data
    // Send form data to server using AJAX
    $.ajax({
        type: 'POST',
        url: '{% url "classes:student_add_class" %}', // Replace with your URL
        data: formData,
        success: function(response) {
            // Handle success response
            $('#addStudentModal').modal('hide'); // Hide the modal
            location.reload();
            // Optionally, you can perform further actions like showing a success message
        },
        error: function(xhr, status, error) {
            // Handle error response
            // Optionally, you can show an error message
        }
    });
});

</script>



{% endblock %}