{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Nepali Class Add{% endblock %}

{% block head %}

<style>
    .dropdown-item {
        text-decoration: none !important;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 37px;
        user-select: none;
        -webkit-user-select: none;
    }

    
</style>

{% endblock %}

{% block content %}
<div class="p-3">
	<a href="{% url 'classes:nepaliclass_list' %}" class="btn btn-secondary">
	  <i class="fas fa-arrow-left"></i>  All Classes
	</a>
  </div>
    <div class="container wow fadeInUp" data-wow-delay="0.1s" >
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-sm-6 py-5 custom-box m-2">
                <div class="col-lg-6 mx-auto">
                    <form class="" method="post" action="{% url 'classes:nepaliclass_add' %}">
                        {% csrf_token %}
                        
                        {% for field in form %}
                        
                            <div class="form-group">
                                
                                {{ field|as_crispy_field }}

                            </div>
                            
                        {% endfor %}
                        <div id="student-error-message" style="color: red;"></div>
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button id="submit-button" type="submit" class="btn btn-primary btn-lg">Add Class</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    
    <script type="text/javascript">
        $("select#id_students").select2({
              width: '100%',
              
          });
        
          $("select#id_teacher").select2({
            width: '100%',
            
        });

          
        </script>
        <script type="text/javascript">
            // Listen for changes in the student selection field
            $('select#id_students').on('change', function () {
                // Get the number of selected students
                var selectedCount = $('select#id_students option:selected').length;
        
                // Define the maximum allowed students
                var maxAllowedStudents = 5;
        
                // Check if the selected count exceeds the maximum
                if (selectedCount > maxAllowedStudents) {
                    // Show an error message
                    $('#student-error-message').text('Not allowed to select more than ' + maxAllowedStudents + ' students');
                    $('#submit-button').prop('disabled', true);
                } else {
                    // Clear the error message
                    $('#student-error-message').text('');
                    $('#submit-button').prop('disabled', false);
                }
            });
        </script>
    
        <script>
            function goBack() {
              window.history.back();
            }
          </script>

{% endblock %}