{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Nepali Class Add{% endblock %}

{% block head %}

<style>
    .dropdown-item {
        text-decoration: none !important;
    }
</style>

{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                
                                <form class="" method="post" action="{% url 'classes:nepaliclass_add' %}">
                                    {% csrf_token %}
                                    
                                    {% for field in form %}
                                    
                                        <div class="form-group">
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Add Nepali Class</button>
                                    </div>
                                </form>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script type="text/javascript">
        $("select").select2({
              width: 'resolve',
              
          });
        </script>
    

{% endblock %}